.active {
  color: #f5a524;
  font-weight: 700;
  font-size: large;
}

.notActive {
  color: white;
  font-size: large;
}

.notActive:hover {
  color: #f5a524;
}

.nav {
  font-family: "Jost";
}

.navActive::after {
  content: "";
  height: 0.25rem;
  border-radius: 1rem;
  background-color: #f5a524;
  transform: translateY(1.75rem);
  filter: drop-shadow(0 -0.3rem 0.4rem #f5a524);
}

.navActiveServices::after {
  content: "";
  height: 0.25rem;
  border-radius: 1rem;
  transform: translate(1.25rem, 1rem) !important;
  background-color: #f5a524;
  max-width: 6rem;
  filter: drop-shadow(0 -0.3rem 0.4rem #f5a524);
}

.logo {
  justify-content: center !important;
}
